<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Customer_Loyalty_Portal.Properties.Settings.CustomerLoyaltyConnectionString"
            connectionString="Data Source=HP-PC\SQLEXPRESS;Initial Catalog=CustomerLoyalty;Persist Security Info=True;User ID=sa;Password=aa"
            providerName="System.Data.SqlClient" />
        <add name="Customer_Loyalty_Portal.Properties.Settings.G_PANTHOUSEConnectionString"
            connectionString="Data Source=HP-PC\SQL2008;Initial Catalog=G_PANTHOUSE;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  
  <appSettings>
    <add key="hostServerName" value="SNEH-CUSTOM"/>
    <add key="tphServerName" value="SNEH-CUSTOM"/>
    <add key="jrServerName" value="JUNIOR\SQLEXPRESS"/>
    <add key="hostDBName" value="CustomerLoyalty"/>
	<add key="tphDBName" value="GRExtreme_PantHouseJ"/>
    <add key="jrDBName" value="GRetail_PANTHOUSE"/>
    <add key="tphMachineName" value="SNEH-CUSTOM"/>
    <add key="jrMachineName" value="JUNIOR"/>
  
  </appSettings>
</configuration>

